<html>
        <head></head>
        <body>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <p>Light<ul>
				<li><a href="/light/toggle">Toggle Light</a></li>
				<li><a href="/light/on">Light On</a></li>
				<li><a href="/light/off">Light Off</a></li>
				<li><a href="/light/increase">Increase Light</a></li>
				<li><a href="/light/decrease">Decrease Light</a></li>
			</ul></p>
			<p>Fan<ul>
				<li><a href="/fan/toggle">Toggle Fan</a></li>
				<li><a href="/fan/on">Fan On</a></li>
				<li><a href="/fan/off">Fan Off</a></li>
				<li><a href="/fan/increase">Increase Speed</a></li>
				<li><a href="/fan/decrease">Decrease Speed</a></li>
			</ul></p>
        </body>
</html> 